@inherits LayoutComponentBase

<PageTitle>DungeonFactory</PageTitle>

<NavMenu />

<div class="pusher">
    <main style="margin-top: 5em">
        <article class="ui container">
            @Body
        </article>
    </main>
</div>