@inject IJSRuntime JS

<div id="editor"></div>

<div style="display: none" id="content">
	# Hi there
	
	**I like** *cheese* but not beets!
</div>


@code {

	const string InitialiseProseMirrorFunctionName = "initialiseProseMirror";

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if(!firstRender)
		{
			return;
		}

		await JS.InvokeVoidAsync(InitialiseProseMirrorFunctionName, "#editor", "#content");
	}
}
